<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= locals.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="./css/homenew.css">
</head>
<body>

    <!-- Header  -->

    <div class="header">
        <div class="inner-header">
            <div class="header-team-ctr">
                <!-- <img src="./images/team.png" alt="Team logo" class="team-logo"> -->
                <div class="team-logo">T</div>
                <span class="team-id">
                    <%= teamId %>
                </span>
            </div>
            <h2 class="code-auction-logo">Code Auction</h2>
            <div class="points-ctr">
                <div class="total-ctr">
                    <div class="total-title">Total</div>
                    <span class="total-points">20</span>
                </div>
                <div class="purse-ctr">
                    <div class="purse-title">Purse</div>
                    <span class="purse-points">12</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Hero Section  -->

    <div class="hero-section">
        <div class="inner-hero-section">
            <div class="upper-half">
                <div class="players-ctr">
                    <div class="player-ctr">
                        <!-- <div class="player-logo player-logo">P</div> -->
                        <div class="player-name"></div>
                    </div>
                    <div class="player-ctr">
                        <!-- <div class="player-logo player-logo">P</div> -->
                        <div class="player-name"></div>
                    </div>
                    <div class="player-ctr">
                        <!-- <div class="player-logo player-logo">P</div> -->
                        <div class="player-name"></div>
                    </div>
                    <div class="player-ctr">
                        <!-- <div class="player-logo player-logo">P</div> -->
                        <div class="player-name"></div>
                    </div>
                </div>
            </div>
            <div class="lower-half"></div>
        </div>
    </div>
</body>
</html>