    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <label for="input">enter question number: </label>
        <input id="input" type="text">
        <button id="send-btn"> send</button>
        <button id="abort">Abort</button>
        <button id="update-btn">update bid info</button>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            const input= document.getElementById('input')
            const sendBtn = document.getElementById('send-btn')
            const abortBtn = document.getElementById('abort')
            const update_btn = document.getElementById('update-btn')
            //send the current question to sockets
            sendBtn.addEventListener('click',()=>{
                sendBtn.disabled = true;
                const txt=input.value
                socket.emit(`host`,txt)
            })

            abortBtn.addEventListener("click", () => {
                sendBtn.disabled = false;
                socket.emit("abortCurrBid");
            })

            //trigger to update points of sockets after current question
            update_btn.addEventListener('click',()=>{
                const txt=input.value
                socket.emit(`update-user-data`,txt)
            })

            socket.on("timeIsUp", () => {
                sendBtn.disabled = false;
            })

            // socket.on('sending',(message)=>{
            //     console.log(message);
            // })
            
        </script> 
    </body>     
    </html>