<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="team">Team Code</label>
        <input type="text" name="teamCode"><br>
        <label for="username">Name</label>
        <input type="text" id="username" name="username" placeholder="username" required>
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass" required><br>
        <input type="submit">  
    </form>
    <p><a href="/signUp">click here</a> to create a new account</p>
    <p><a href="/hostLogin">click here</a> to login as host</p>
</body>
</html>