*{
    padding: 0;
    margin: 0;
}
.currentBidding{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    bottom: 0;
}
.timer{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(110, 103, 103);
}