@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  /* overflow: hidden; */
  overflow-x: hidden;
  background: linear-gradient(to right, #2b4162, #041046, #2b4162);
}

.bidding-start-pop-up {
    padding: 3rem;
    position: fixed;
    font-size: 2.4rem;
    font-weight: bold;
    color: #09102F;
    background-color: #d9d9d9;
    top: 0;
    left: 68%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px #757575;
    transition: .5s ease-in-out;
}

.header {
    width: 100vw;
    height: 12rem;
    background-color: #09102F;
    color: #fff;
    display: flex;
    justify-content: center;
}

.inner-header {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-team-ctr {
    display: flex;
    align-items: center;
}

.team-id {
    font-size: 2.5rem;
    padding-left: 2rem;
}

.team-logo {
    display: inline-block;
    text-align: center;
    font-size: 6rem;
    font-weight: 500;
    background-color: #d9d9d9;
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
}

.logo-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.du-logo {
    width: 6rem;
    margin-right: 0.5rem;
}

.sankalan-logo {
    width: 6rem;
    margin-right: 1rem;
}

.points-ctr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-ctr, .purse-ctr {
    padding-left: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.total-title, .purse-title {
    font-size: 2.2rem;
}

.total-points {
    font-size: 2.5rem;
}

.purse-points {
    font-size: 2.8rem;
    color: #F07503;
}

/* Hero Section  */

.hero-section {
    width: 100vw;
    height: 100%;
    padding: 5rem 0;
    /* height: calc(100vh - 12rem); */
}

.inner-hero-section {
    width: 75%;
    margin: 0 auto;
}

.hero-upper-half-ctr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* selected problems section  */

.selected-problems-outer-ctr {
    width: 48%;
    text-align: center;
    background-color: #09102F;
    border-radius: 1rem;
}

.selected-problems-header {
    color: #d9d9d9;
    padding: 1.6rem 0;
}

.selected-problems-inner-ctr {
    height: 25rem;
    display: flex;
    flex-direction: column; 
    overflow: auto;
    gap: 10px;
    padding: 2rem;
}

.selected-problem-header-ctr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
}

.selected-problem-header-title, .selected-problem-header-owner {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    font-size: 2.2rem;
}

.selected-problem-ctr {
    background-color: #d9d9d9;
    padding: 1.2rem 1.6rem;
    color: #09102F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.selected-problem-points {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    background-color: #09102F;
    color: #d9d9d9;
    font-weight: 500;
    border-radius: 100%;
}

/* selected problems section  */

.bidding-info-outer-ctr {
    width: 50%;
    text-align: center;
    background-color: #09102F;
    padding: 2rem;
    border-radius: 1rem;
}

.bidding-info-header {
    color: #d9d9d9;
    padding-bottom: 2rem;
}

.bidding-info-inner-ctr {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bidding-info-upper-half-ctr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bidding-info-lower-half-ctr {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.bid-amount {
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.8rem;
    outline: none;
    border-radius: 3rem;
    background-color: #d9d9d9;
    border: none;
}

.bid-btn {
    padding: 1.2rem 3.6rem;
    outline: none;
    background-color: #d9d9d9;
    color: #09102F;
    font-size: 2.4rem;
    border-radius: 3rem;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
}

.remaining-time-ctr, .curr-bid-ctr {
    height: 18rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
    
}
.curr-bid-team{
    font-weight: 600;
}

.remaining-time-header, .curr-bid-header {
    font-weight: 500;
}

.remaining-time-clock, .curr-bid-amount {
    height: 10rem;
    width: 10rem;
    padding: 3.5rem 0;
    font-size: 2.4rem;
    font-weight: 500;
    background-color: #ffffff;
    color: #F07503;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.curr-bid-amount {
    padding: 2rem 0;
    font-size: 4.8rem;
    color: #090909;
}

.hero-lower-half-ctr {
    width: 100%;
    margin-top: 5rem;
    padding: 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #09102F;
    align-items: center;
    border-radius: 1rem;
}

.problem-in-bid-outer-ctr, .problem-desc-outer-ctr {
    width: 34%;
    text-align: center;
    border-radius: 1rem;
}

.problem-desc-outer-ctr {
    width: 64%;
    position: relative;
}

.problem-in-bid-inner-ctr, .problem-desc-inner-ctr {
    width: 100%;
    height: 25rem;
    padding: 2rem;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.problem-desc-inner-ctr {
    display: block;
    text-align: justify;
    overflow: auto;
}

.problem-in-bid-header, .problem-desc-header {
    margin: 2rem;
    color: #D9D9D9;
}

.problem-in-bid-points {
    height: 9rem;
    width: 10rem;
    padding: 2.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #09102F;
    color: #d9d9d9;
    border-radius: 100%;
}

.problem-in-bid-title {
    font-size: 2.8rem;
}

.problem-desc {
    font-size: 2rem;
    /* padding: 1.6rem; */
}

.problem-desc-bottom-overlay {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #d9d9d9 50%, #d9d9d942);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* ======================== Login & Sign up ==========================  */

.main {
    display: flex;
}

.left {
    display: flex;
    width: 50vw;
    height: 100vh;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-du-logo, .login-sankalan-logo, .signup-du-logo, .signup-sankalan-logo {
    width: 20rem;
}

.login-du-logo, .signup-du-logo {
    margin-right: 1rem;
}

.left-inner{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 2rem;
}
.left-text {
    width: 100%;
    font-size: 15rem;
    text-align: left;
    line-height: 10rem;
    font-family: "Jersey 15", sans-serif;
}

.right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-box {
    width: 70%;
    padding: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #20345A;

}

.right-box>h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.login-input, .signup-input {
    width: 100%;
    margin: 1rem 0 0;
    height: 2.5rem;
    border-radius: .5rem;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    outline: none;
    border: 0.1rem solid rgba(120, 120, 120, 0.3);
    transition: box-shadow 0.1s linear, border-color 0.1s linear;
}

.login-input:hover, .signup-input:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2);
    border-color: #fff;
    /* border: none; */
}

#submit {
    display: block;
    width: 10rem;
    height: 4.2rem;
    background-color: #20345A;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

.bottom {
    margin-top: 2rem;
    text-align: center;
    color: #20345A;
}

.bottom>* {
    margin: 1rem;
}

.bottom>a {
    color: #20345A;
    font-weight: bold;
}

/* ====================== Rules =========================== */

/* ======================= Custom Scrollbar ====================== */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #aaaaaa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757575; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }