@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #2B4162, #041046, #2B4162);
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
}

.main {
    display: flex;
}

.left {
    display: flex;
    width: 50vw;
    height: 100vh;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.du-logo, .sankalan-logo {
    display: block;
    height: 20rem;
}

.sankalan-logo {
    margin-left: 1rem;
}

.left-text {
    width: 400px;
    font-size: 15rem;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
}

.right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-box {
    width: 400px;
    padding: 5rem 0;
    background-color: #828C9C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #20345A;

}

.right-box>h2 {
    margin-bottom: 6rem;
    font-size: 4rem;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    font-weight: 600;
}

input {
    width: 30rem;
    margin-top: 0.5rem;
    height: 2.5rem;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    outline: none;
}

#submit {
    width: 10rem;
    height: 4.2rem;
    background-color: #20345A;
    color: white;
    padding: 1rem;
}

.bottom {
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.bottom>* {
    margin: 1rem;
}

.bottom>a {
    color: #20345A;
}